<div class="chatContainer">

  <div class="emailContainer" id="emailContainer">
    <h3 class="email" id="email"></h3>
  </div>

  <div class="chatListContainer">
    <ul class="chatList" id="chatList">
    </ul>
  </div>

    <div class="writeContainer">
    <input type="text" id="chatbox" class="chatbox">
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</div>